<%= link_to 'Search Another User', root_path %>

<div style='width: 300px;'>
    <% @photo_list.each do |photo_data| %>
         <div style='margin: 10px; display: flex; flex-direction: column;'>
            <%= image_tag(Flickr.url(photo_data)) %>
            <%= photo_data['title'] %>
        </div>
    <% end %>
</div>